@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700&display=swap");

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

/* ********************** */
/* VARIABLES */
/* ********************** */

:root {
  --Grayish-Blue: hsl(217, 19%, 35%);
  --Dark-Blue: hsl(214, 17%, 51%);
  --Light-Grayish-Blue: hsl(212, 23%, 69%);
  --White-Grayish-Blue: hsl(210, 46%, 95%);

  --Transition: 0.8s all;
}

/* ********************** */
/* RESETS */
/* ********************** */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img,
picture,
video,
canvas,
svg {
  max-inline-size: 100%;
  block-size: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ol,
ul {
  list-style: none;
}

input,
button,
textarea,
select {
  font: inherit;
  border: none;
}

/* ********************** */
/* LAYOUT */
/* ********************** */

body {
  position: relative;
  min-height: 100vh;
  display: grid;
  place-content: center;
  padding: 20px;
  position: relative;

  /* background: var(--White-Grayish-Blue); */
}

body:before {
  position: absolute;
  content: "";
  background-image: url(/video/background.mp4);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.8;
}

article {
  max-width: 500px;
  display: grid;
  font-family: "Manrope", sans-serif;
  border-radius: 10px;
  /* overflow: hidden; */
  background: hsl(0, 0%, 100%);
  position: relative;
  box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.1);
}

.article-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;

  border-radius: 10px 10px 0px 0px;
}

.article-text-content {
  padding: 20px;
}

.article-heading {
  font-size: clamp(1rem, calc(0.83rem + 0.83vw), 1.25rem);
  /* font-size: 20px; */
  /* font-size: 16px; */
  font-weight: 600;
  margin-bottom: 15px;
  color: var(--Grayish-Blue);
  transition: var(--Transition);
}

.article-paragraph {
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 20px;
  line-height: 1.5;
  color: var(--Dark-Blue);
}

.salesperson-info-contaner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.salesperson-info {
  display: flex;
  align-items: center;
  gap: 20px;
}

.salesperson-image {
  max-width: 38px;
  border-radius: 90px;
}

.salesperson-name {
  font-size: 13px;
  font-weight: 600;
  color: var(--Grayish-Blue);
}

.date {
  font-size: 13px;
  font-weight: 400;

  color: var(--Dark-Blue);
}

.social-media-links-container {
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px 20px;
  border-radius: 0px 0px 10px 10px;
  background: var(--Grayish-Blue);
  bottom: 0%;
  left: 0%;
}

.share-btn {
  width: 32px;
  height: 32px;
  border-radius: 50px;
  transition: var(--Transition);
  cursor: pointer;
  z-index: 1;
  background: var(--White-Grayish-Blue);
}

.share-btn:hover {
  filter: brightness(1.2);
}

.hidden {
  display: none;
}

.social-media-links {
  display: flex;
  align-items: center;
  gap: 20px;
}

.social-media-links-container p {
  font-size: 13px;
  letter-spacing: 4px;
  color: var(--Light-Grayish-Blue);
}

.social-media-links .icon {
  font-size: 22px;
  color: white;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  backdrop-filter: blur(3px);
  z-index: 5;
}

@media (min-width: 800px) {
  article {
    max-width: 730px;
    display: grid;
    grid-template-columns: 40% 60%;
  }

  .article-image {
    border-radius: 10px 0px 0px 10px;
  }

  .article-text-content {
    padding: 36px;
  }

  .social-media-links-container {
    width: 34%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 13px 20px;
    border-radius: 10px;
    background: var(--Grayish-Blue);

    transition: var(--Transition);
    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.2);

    bottom: 40%;
    left: 77%;
  }

  .social-media-links-container:after {
    content: "";
    position: absolute;
    right: 120px;
    bottom: -14px;
    border-top: 14px solid #48556a;
    border-right: 14px solid transparent;
    border-left: 14px solid transparent;
  }

  .share-btn {
    /* width: 40px;
    height: 40px; */
    border-radius: 50px;
    transition: var(--Transition);
    cursor: pointer;
    z-index: 0;
  }

  .hidden {
    display: none;
  }
}
